@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Varela+Round&display=swap');

:root{
    --bg-color: #fff;
    --text-color: #000;
    --btn3-color: rgba(0, 0, 0, 0.8);
    --lgsibox-color: aliceblue;
}
.dark-theme{
    --bg-color: #000;
    --text-color:#fff;
    --btn3-color: rgba(255, 255, 255, 0.37);
    --lgsibox-color: #000 ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}
 i{
    cursor: pointer;
}
a{
    text-decoration: none;
    font-size: large;
    color: var(--text-color);
}
nav a:hover{
    color: purple;
    border-bottom: 1.5px solid purple;
}
button{
    cursor: pointer;
    border-style: none;
}
nav{
   background-color: var(--bg-color);
}

#first{
    position: fixed;
    z-index: 1;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-between;
    width: 100%; 
    padding: 10px 30px; 
    color: var(--text-color); 
}
.brand{
    width: 16vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand h1{
    cursor: pointer;
}
.brand img{
    width: 30px;
    height: 30px;
    background-color: #000;
}
.navClass1{
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#btn1{
    background-color: purple;
    width: 80px;
    height:25px;
    border-radius: 8px;
    color: beige;
    font-size: 15px;
}
#btn2{
    background-color: purple;
    width: 80px;
    height:25px;
    border-radius: 8px;
    color: beige;
    font-size: 15px;
}
#second{
    position: fixed;
    top: 48px;
    width: 100%;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    border-top: 1px var(--text-color) ridge;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    border-bottom: 1px var(--text-color) ridge;
    padding: 10px 30px;
}
.navClassS1{
    width: 5vw;
    display: flex;
    justify-content: space-between;
}
.navClassS2{
    display: flex;
    justify-content: space-between;
    width: 60vw;  
}
.navClassS3{
    width: 5vw;
    display: flex;
    justify-content: space-between;
}

/* containers */
#containers{
    position: absolute;
    top: 20%;
    width: 100%;
    background-color: var(--bg-color);
}
.container1{
    position: relative;
    left: 18px;
    width: 96vw;
    height: 80vh;
}
.C1-text{
    position: absolute;
    left: 30px;
    top: 100px;
    font-size: 15px;
    line-height: 1.7rem;
    font-family: 'Varela Round', sans-serif;
    color: var(--text-color);
}
#btn3{
    background-color: var(--btn3-color);
    width: 80px;
    height:25px;
    border-radius: 8px;
    color: beige;
    font-size: 15px;  
}
#btn4{
    background-color:grey;
    width: 80px;
    height:25px;
    border-radius: 8px;
    color: beige;
    font-size: 15px;
}
#C1-img{
    position: absolute;
    top: 35px;
    right: 10px;
    width: 550px;
border: 2px var(--text-color) solid;
}
.container2{
    position: relative;
    left: 18px;
    width: 96vw;
    height: 70vh; 
}
.C2-heading{
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    left: 39%;
    color: var(--text-color);
}
.C2-img{
    position: relative;
    width: 96vw;
    height: 70vh;
    top: 40px;
}
.C2-img1{
    position: absolute;
    width: 25vw;
    height: 50vh;
    top: 20px;
    left: 30px;
    background-image: url(honeymoon.jpg);
    background-position: center;
    background-size: cover;
    border: 1px var(--text-color) ridge;
}
.C2-img2{
    position: absolute;
    width: 25vw;
    height: 50vh;
    top: 20px;
    left: 450px;
    background-image: url(cruise.jpg);
    background-position: center;
    background-size: cover;
    border: 1px var(--text-color) ridge;
}
.C2-img3{
    position: absolute;
    width: 25vw;
    height: 50vh;
    top: 20px;
    right: 30px;
    background-image: url(culture.jpg);
    background-position: center;
    background-size: cover;
    border: 1px var(--text-color) ridge;
}
.C2-img-heading{
    position: absolute;
    top: 300px;
    left: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: var(--text-color);
}
.img-btn{
    position: absolute;
    left: 200px;
    bottom: 5px;
    background-color: rgba(128, 0, 128, 0.492);
    width: 80px;
    height:25px;
    border-radius: 8px;
    color: beige;
    font-size: 15px;
}
.container3{
    position: relative;
    top: 30px;
    left: 18px;
    width: 96vw;
    height: 70vh; 
}
.C3-heading{
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    left: 43%;
    color: var(--text-color);
}
.C3-container-a{
    position: absolute;
    top: 60px;
    left: 12px;
    width: 45vw;
    height: 50vh;
    background-color: rgba(123, 105, 105, 0.288);
    color: var(--text-color);
}
.C3-container-b{
    position: absolute;
    top: 55px;
    right: 12px;
    width: 45vw;
    height: 50vh;
    background-color: rgba(123, 105, 105, 0.288);
    color: var(--text-color);
}
.C3-container-style{
    position: absolute;
    padding: 0 10px;
    top: 40px;
    word-spacing: 3px;
    line-height: 25px;
}
.footer{
    position: absolute;
    top: 240%;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    border-top: 1px var(--text-color) ridge;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--bg-color);
    
}
.footer1{
    width: 26vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}
.footer-img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.footer2{
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* using java script */

/* login container */
.login-form {
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.loginbox{
    width: 40vw;
    height: 70vh;
    border: 1px black ridge;
    font-weight: 200;
    background-color: var(--lgsibox-color);
    line-height: 30px;
}
.loginbox i{
    position: absolute;
    cursor: pointer;
    top: 19%;
    left: 67%;
    z-index: 1;
    color: var(--text-color);
}
.loginbox h3{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    margin-left: 35%;
    margin-top: 10%;
    color: var(--text-color);
}
.loginbox .box{
    width: 50vh;
font-size: 20px;
text-align: center;
margin-top: .8rem;
margin-left: 20%;
}
.loginbox .btn{
    border: none;
    background-color: purple;
    width: 80px;
    height:25px;
    border-radius: 8px;
    color: beige;
    font-size: 15px;
    margin-top: 1.5rem;
    margin-left: 40%;
    cursor: pointer;
}
.loginbox p{
    margin-left: 20%;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    color: var(--text-color);

}
.login-form.active1 {
    top: 0;
}

/* signup contianer */

.signup-form {
    z-index: 1;     
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.signupbox{
    width: 40vw;
    height: 70vh;
    border: 1px black ridge;
    font-weight: 200;
    background-color: var(--lgsibox-color) ;
    line-height: 30px;
}
.signupbox i{
    position: absolute;
    cursor: pointer;
    top: 19%;
    left: 67%;
    z-index: 1;
    color: var(--text-color);
}
.signupbox h3{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    margin-left: 35%;
    margin-top: 15%; 
    color: var(--text-color);
}
.signupbox .box{
    width: 50vh;
    font-size: 20px;
    text-align: center;
    margin-top: .8rem;
    margin-left: 20%;
}
.signupbox .otp{
    position: relative;
    width: 5vh;
    font-size: 20px;
    text-align: center;
   margin-top: 1rem;
   left: 20%;
   color: var(--text-color);
}
.signupbox .btn{
    border: none;
    background-color: purple;
    width: 90px;
    height:25px;
    border-radius: 8px;
    color: beige;
    font-size: 15px;
    margin-top: 1.5rem;
    margin-left: 40%;
    cursor: pointer;
}
label{
    font-family: 'Varela Round', sans-serif;
}
.signup-form.active2 {
    top: 0;
}

/* menu bar */

.menubar{
    z-index: 1;
   position: fixed;
    top: -120%;
    z-index: 1;
    left: 30px;
    margin-top: 90.8px;
    min-height: 30vh;
    width: 11%;
    border-radius: 3px;
    border: 1.2px groove purple;
    background-color: var(--bg-color);
    line-height: 30px;
}
.menubar i{
    margin-left: 5px;
    color: var(--text-color);
}
.menubar.active3{
top: 0;
}

/* search bar */
.searchbar{
    z-index: 1;
    position: fixed;
    top: -120%;
    right: 100px;
    margin-top: 52px;
    min-height: 5vh;
    width: 20%;
    border-radius: 3px;
    line-height: 30px;
    font-size: 15px;
    border: 1.8px groove purple;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Varela Round', sans-serif;
}
.searchbar.active4{
    top: 0;
    }



